/*TELA LOGIN*/
#corpo-tela-inicial{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.conteudo-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 180px;
    height: 180px;
    
}

.container-frases {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
    height: 36px;
    width: 100%;
    overflow: hidden;
    margin: 14px;
}

.frases {
    font-family: var(--fonte-principal);
    color: var(--lilas);
    text-align: center;
    height: 36px;
    
    position: absolute;
    width: 100%;
    opacity: 0;
    animation: rotateText 12s infinite ease;
}

/* cada frase entra em momonetos diferentes */
.container-frases .frases:nth-child(1) { animation-delay: 0s; }
.container-frases .frases:nth-child(2) { animation-delay: 3s; }
.container-frases .frases:nth-child(3) { animation-delay: 5.2s; }
.container-frases .frases:nth-child(4) { animation-delay: 7.5s; }
.container-frases .frases:nth-child(5) { animation-delay: 9.8s; }


@keyframes rotateText {
    0%, 10% { opacity: 0; transform: translateY(100%); }
    10%, 50% { opacity: 1; transform: translateY(0); }
    50%, 60% { opacity: 0; transform: translateY(-100%); }
    60%, 100% { opacity: 0; transform: translateY(-100%); }
}

.pergunta {
    font-family: var(--fonte-principal);
    margin-top: 28px;
}

#btn-nomeUsuario {
    margin: 8px;
    padding: 9px 15px 8px 15px;
    border-radius: 9px;
    border: 3px solid var(--lilas);
    background-color: var(--branco);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
   
}

#btn-nomeUsuario:hover {
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
}

#btn-nomeUsuario:focus {
    outline: none;
    border: 3px solid var(--lilas);
    background-color: var(--branco);
}

.btn-tela-login:disabled {  /* inativo/bloqueado */
  background-color: #c9c9c9; 
  cursor: not-allowed; 
}

.btn-tela-login {
    padding: 12px 30px;
    margin: 8px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btn-tela-login:hover {
    box-shadow: none;
    transform: scale(1.05);

}

footer {
    margin-top: auto;
}
footer p {
    margin: 0;
}

/* --------- Tablet --------- */
@media (min-width: 768px) {
      main {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 80vh;
        background-image:url("imagens/img-esquerda.png");
        background-position: left center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    #btn-nomeUsuario {
        font-size: 18px;
    }

    .btn-tela-login{
        width: 280px;
    }
}

/*--------- Desktop --------- */
@media (min-width: 1024px) {
    main {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 80vh;
        background-image: 
            url("imagens/img-esquerda.png"),
            url("imagens/img-direita.png");
        background-position: left center, right center;
        background-repeat: no-repeat, no-repeat;
        background-size: contain, contain; 
    }


    .logo {
        width: 220px;
        height: 220px;
        margin-top: 20px;
    }

    .container-frases {
        margin-bottom: 5px;
    }

    .frases{
        font-size: 21px;
    }

    .pergunta {
        font-size: 18px;
    }

    #btn-nomeUsuario {
        margin: 10px;
        padding: 10px 32px 12px 32px;
    }

    .btn-tela-login {
       width: 350px;
       padding: 15px;
        margin: 10px;
        font-size: 15px;
    }
}






