
body{
  overflow: scroll;
}

#conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  margin: 20px;
}

.nota {
  position: absolute;
  animation: subir 7s linear;
  opacity: 0.6;
  pointer-events: none;
}

@keyframes subir {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100vh);
  }
}


#conteudo-infor-final{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

#iconMusica{
  font-size: 45px;
  background-color: white;
  padding: 7px;
  border-radius: 30%;
}

#iconMusica {
    display: inline-block;
    font-size: 48px; 
    animation: balancar 1.2s ease-in-out infinite alternate;
    transform-origin: center;

}

@keyframes balancar {
    from {
        transform: rotate(-20deg);
    }
    to {
        transform: rotate(20deg);
    }
}

#titulo{
  font-size: 18px;
  padding: 10px;
 
}

#sub-titulo{
  font-size: 16px;
  padding: 10px;
}

#playlist-final {
  display: flex;
  flex-direction: column;

}

.item-final {
  background-color:rgba(255, 255, 255, 0.227);
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  width: 85vw;
}

#container-botoes {
margin-top: 15px;
}

.btn-playlist {
  width: 125px;
  padding: 10px;
  border-radius: 12px;
}

#btn-nova {
  border: solid 3px var(--lilas);
  background-color: var(--branco);
  margin-right: 5px;
}

#btn-fim {
  background-color: var(--lilas);
  color: var(--branco);
  border: solid 3px var(--branco);
}

@media (min-width: 768px) {
  .btn-voltar {
    gap: 10px;
    margin: 25px 0px 0px 25px;
    width: 110px;
    padding: 7px;
    justify-content: center;
    font-size: 18px;
  }
  
  #conteudo{
    background-image: none;
    min-height: auto;
  }

  #iconMusica {
    font-size: 60px;
  }

  #titulo {
    font-size: 24px;
  }

  #sub-titulo {
    font-size: 22px;
  }
  
 .item-final {
    background-color:rgba(255, 255, 255, 0.31);
    margin: 8px;
    padding: 15px;
    width: 65vw;
    font-size: 20px;
 }

  .btn-playlist {
    width: 200px;
    padding: 15px;
    border-radius: 12px;
  }

  #btn-nova , #btn-fim{
  font-size: 18px;
  }

  .rodape-playlist{
    margin-top: 20px;
    padding: 18px;
  }
}

/*--------- Desktop --------- */
@media (min-width: 1024px) {
  body{
    overflow-x: hidden;
  }

  #conteudo {
    margin: 0px;
  }

 .item-final{
  width: 50vw;
 }

  #btn-nova:hover {
    color: var(--lilas);
    background-color: var(--branco);
    border: none;
    transform: scale(1.05);
    transition: all 0.3s ease;
    cursor: pointer;
  }

  #btn-fim:hover {
    color: var(--lilas);
    background-color: var(--branco);
    transform: scale(1.05);
    transition: all 0.3s ease;
    cursor: pointer;
  }
}



