#conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 20px;
}

.nota {
  position: absolute;
  animation: subir 7s linear;
  opacity: 0.6;
  pointer-events: none;
}

@keyframes subir {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100vh);
  }
}


#conteudo-infor-final{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

#iconMusica{
  font-size: 45px;
  background-color: white;
  padding: 7px;
  border-radius: 30%;
}

#iconMusica {
    display: inline-block;
    font-size: 48px; 
    animation: balancar 1.2s ease-in-out infinite alternate;
    transform-origin: center;

}

@keyframes balancar {
    from {
        transform: rotate(-20deg);
    }
    to {
        transform: rotate(20deg);
    }
}

#titulo{
  font-size: 18px;
  padding: 10px;
 
}

#sub-titulo{
  font-size: 16px;
  padding: 10px;
}

#playlist-final {
  display: flex;
  flex-direction: column;

}

.item-final {
  background-color:rgba(255, 255, 255, 0.227);
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  width: 85vw;
}

#container-botoes {
margin-top: 15px;
}

.btn-playlist {
  width: 125px;
  padding: 10px;
  border-radius: 12px;
}

#btn-nova {
  border: solid 3px var(--lilas);
  background-color: var(--branco);
  margin-right: 5px;
}

#btn-fim {
  background-color: var(--lilas);
  color: var(--branco);
  border: solid 3px var(--branco);
}




