body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


/* BOTÃO DE VOLTAR*/
.btn-voltar {
  display: flex;
  align-items: center;
  gap: 6px; /* espaço entre ícone e texto */
  background: var(--lilas);
  border: 1px solid var(--branco);
  border-radius: 10px;
  cursor: pointer;
  font-family: var(--fonte-secundaria);
  margin: 10px;
  width: 80px;
  text-decoration: none;
  color: var(--branco);
  padding: 4px;
}

.btn-voltar:hover {
  background-color: var(--branco);
  color: var(--lilas);
  border: 1px solid var(--lilas);
}

/* ICON MÚSICA DO CARD*/
.icon {
  font-size: 22px;
  gap: 10px;
  padding-right: 5px;
}

/* MAIN */
.conteudo-principal {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 85vh;
  flex: 1;

}

.container-informacoes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo{
  font-family: var(--fonte-principal);
  font-size: 1em;
  font-weight: bolder;
  color: var(--lilas); 

}

#quantidade-musicas-selecionadas{
  padding: 2px;
  color: var(--branco);
}

#area-progresso {
  width: 90%;
  height: 8px;
  background-color: var(--branco);
  border: 1px solid var(--lilas);
  border-radius: 10px;
  overflow: hidden;
  margin: 10px auto;
}

#fill-area-progresso {
  height: 100%;
  width: 0%;
  background-color: var(--lilas);
  border-radius: 10px;
  transition: width 0.4s ease; 
}
/* CARDS DAS MÚSICAS*/
.container-musicas {
  background-color: var(--branco);
  height: 270px;
  width: 280px;
  margin: 10px;
  border-radius: 10px;
  border: 2px solid var(--lilas);
}

.animar {
  animation: girarFade 0.7s ease;
}

@keyframes girarFade {
  0% {
    opacity: 1; /*começa visível*/
    transform: rotateY(0deg) scale(1);
  }
  50% {
    opacity: 0; /* fica invisível no meio*/
    transform: rotateY(90deg) scale(0.95); /**/
  }
  100% {
    opacity: 1; /*reaparece*/
    transform: rotateY(0deg) scale(1);
  }
}

.card-musica{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  font-family: var(--fonte-secundaria);
  height: 80%;
} 

.icon-musica {
  border: 2px solid gray;
  padding: 20px;
  border-radius: 8px;
  font-size: 20px;
  box-shadow: 0 12px 8px rgba(0, 0, 0, 0.1);
}

#musica-titulo {
  font-size: 1em;
  padding: 8px;
}

#musica-artista, #musica-info{
  font-size: 1em;
  padding: 5px;
}

#card-botoes {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 20px;
}

#btn-pular{
  display: flex;
  align-items: center;
  font-size: 14px;
  border-radius: 20px;
  border: 2px solid var(--lilas);
  padding: 10px 15px;
  cursor: pointer;
}

#btn-pular:hover{
  background-color: var(--indigo-claro);
  transform: scale(1.05);
  transition: all 0.3s ease;
}

#btn-adicionar {
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 10px;
  border: 2px solid var(--lilas);
}

#btn-adicionar:hover {
  background-color: var(--indigo-claro);
  color: black;
  border: 2px solid var(--lilas);
   transform: scale(1.0);
   transition: all 0.3s ease;
}

#btn-finalizar {
  font-size: 15px;
  width: 200px;
  margin: 25px;
  padding: 12px;
  border-radius: 15px;
  border: 1px solid var(--indigo-claro);
  transition: all 0.3s ease;
  background: linear-gradient(90deg, #cac1fb,#bcb1f7,#bb80ee ,#905dbd);
  background-size: 300% 300%;
  animation: moveGrad 7s linear infinite;
  color: var(--branco);
  visibility: hidden;
}

@keyframes moveGrad {
    0%   { background-position:   0% 50%; }
    50%  { background-position: 100% 50%; }
    100% { background-position:   0% 50%; }

}

#btn-finalizar:hover {
  transform: scale(1.05);
  transition: all 0.3s ease;
}

/* PLAYLIST USUARIO ADD NO JS*/
.texto-playlist {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  font-size: 14px;
  font-family: var(--fonte-principal);
  background-color: var(--lilas);
  color: var(--branco);
  margin: 6px;
  border-radius: 4px;
}

.texto-Playlist:hover {
  background-color: var(--lilas);
  color: var(--branco);
  cursor: pointer;
}

.btn-remover {
  color: var(--branco);
  font-size: 22px;
  cursor: pointer;
  transition: 0.2s ease;
}

.btn-remover:hover {
  color: black;
  transform: scale(1.1);
}

/* PLAYLIST USUARIO*/
#section-playlist {
  max-height: 300px; /* altura máxima da área da playlist */
  overflow-y: auto; /* ativa rolagem automaticamente */
  scrollbar-gutter: stable;
  scrollbar-color: var(--lilas) var(--branco);
}


#container-playlist {
  display: flex;
  justify-content: space-between;
  padding:10px;
  font-family: var(--fonte-secundaria);
  font-size: 14px;
}

.playlist-header {
  display: flex;
  gap: 10px;
}

#playlist-texto-inicial {
  display: flex;
  flex-direction: column;
    font-size: 14px;
  text-align: center;
}

.iconFavorite{
  font-size: 18px;
}

.iconStar {
  font-size: 35px;
  text-align: center;
  padding: 25px 20px 10px;
}


/* --------- Tablet --------- */
@media (min-width: 768px) {
 .titulo{
  font-size: 24px;
 }

 #quantidade-musicas-selecionadas {
  font-size: 20px;
 }

 #area-progresso {
  height: 10px;
 }

 .container-musicas {
  width: 300px;
 }
}

