
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import url(login.css); /*tela login*/
@import url(principal.css); /*tela principal*/
@import url(playlist.css); /* tela playlist final*/

:root {
    --lilas:#8f5bbe;
    --indigo-claro:#bcb1f7;
    --branco:#f6f5ff;

    --fonte-principal:"Playfair Display", serif;
    --fonte-secundaria: "Lato", sans-serif;

}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--indigo-claro);
    height: 100vh;
    width: 100vw;
    margin: 0;
}

.botoes {
   color: var(--branco);
   text-decoration: none;
   background-color: var(--lilas);
   border: 3px solid var(--branco);
   border-radius: 20px;
   cursor: pointer;
 
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-family: var(--fonte-secundara);
    color: var(--branco);
    height: auto;
    padding: 10px 0;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
}

footer a {
    text-decoration: none;
    font-size: 15px;
    font-family: var(--fonte-secundara);
    color: var(--branco);
}

footer a:hover {
    color: var(--lilas);
}

/* -------- Tablet ------- */
@media (min-width: 768px) {
    footer  {
        font-size: 17px
    }

    footer a {
        font-size: 17px;
    }

}

/*-------- Desktop -------- */
@media (min-width: 1024px) {

    footer {
        font-size: 18px;
    }
    footer a {
        font-size: 18px;
    }
}